# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: secretkeybase_for_tests

# used for sending emails
email_settings:
  smtp_settings:
    address: some_stmp_server
    port: 587
    domain: some.domain.com
    authentication: plain
    user_name: some_user_name
    password: some_password
    enable_starttls_auto: true
  email_from: Someone <some_user_name@some.domain.com>
  email_from_address: some_user_name@some.domain.com
